/*	Common.css
	Author:dew
	Date:2015-11-18
	Description:Framework layout & module
--------------------------------------------------------------------------------*/
body {
  font: 12px Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53 ;
  line-height: 1.5;
  background: #fff;
  color: #333; }

a:link, avisited {
  color: #333;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #f47a11;
  text-decoration: underline; }

/*-layout-*/
.container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto; }

.topbar {
  min-width: 1200px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  background: #eee; }

.header {
  min-width: 1200px;
  overflow: hidden; }

.footer {
  min-width: 1200px;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  background: #fff; }

.section {
  display: block; }

.content {
  float: right;
  width: 750px;
  overflow: hidden; }

.sidebar {
  float: left;
  width: 440px;
  overflow: hidden; }

/* fluid layout */
.fluid .container {
  width: 100%;
  margin: 0 auto; }
  .fluid .container .content {
    float: none;
    width: auto;
    margin-left: 200px; }
  .fluid .container .sidebar {
    width: 200px;
    padding: 0;
    float: left;
    position: absolute;
    top: 161px;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    background: #f9f9f9; }
  .fluid .container .addBar {
    display: none;
    height: 500px;
    width: 100px;
    float: right;
    padding-bottom: 10px;
    background: #e3e1d0; }

.mainBody {
  padding: 10px 10px 10px 15px; }

.sideSwitcher {
  display: block;
  position: fixed;
  left: 200px;
  top: 50%;
  /*-ie6 fixed-*/
  _position: absolute;
  _bottom: auto;
  right: auto;
  _left: expression(eval(document.documentElement.scrollLeft)+211);
  _top: expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2));
  width: 12px;
  height: 51px;
  line-height: 53px;
  background: url(../images/toggleSide.gif) no-repeat;
  font-size: 12px;
  font-weight: 700;
  font-family: '\5B8B\4F53';
  text-indent: 1px;
  _position: absolute;
  text-decoration: none !important;
  color: #999 !important; }

.hideSide .section {
  background-image: none !important; }

.hideSide .content {
  margin-left: 0 !important; }

.hideSide .sidebar {
  display: none !important; }

.hideSide .sideSwitcher {
  left: 0 !important;
  _left: expression(eval(document.documentElement.scrollLeft)); }

/* sideNav */
.sideNav {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff no-repeat center bottom; }
  .sideNav li {
    display: block; }
  .sideNav li.topLine {
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 1px solid #3a87cd;
    background: #3a87cd;
    overflow: hidden; }
  .sideNav .major {
    position: relative; }
  .sideNav .majorLast {
    zoom: 1; }
  .sideNav .subtit {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #f7f7f7 repeat-x; }
    .sideNav .subtit.act {
      border-right-color: #ff8b12; }
    .sideNav .subtit a {
      display: block;
      height: 39px;
      line-height: 39px;
      padding: 0 0 0 30px;
      text-decoration: none !important;
      color: #333 !important;
      background: no-repeat 10px 50%; }
      .sideNav .subtit a:hover {
        text-decoration: none; }
    .sideNav .subtit img {
      margin-right: 8px;
      vertical-align: middle;
      _vertical-align: -10px; }
    .sideNav .subtit span {
      vertical-align: middle;
      _vertical-align: -6px; }
    .sideNav .subtit .spread, .sideNav .subtit .shrink {
      position: absolute;
      right: 10px;
      _right: 20px;
      top: 12px;
      width: 14px;
      height: 9px;
      overflow: hidden;
      background: url(../images/sideNav_spread.png) no-repeat; }
    .sideNav .subtit .shrink {
      background-image: url(../images/sideNav_shrink.png); }
  .sideNav .sublist {
    border-top: none;
    border-bottom: none;
    background: #fff;
    border-bottom: 1px solid #ddd; }
    .sideNav .sublist.last {
      border-bottom: none; }
    .sideNav .sublist li {
      height: 28px;
      line-height: 28px;
      border: 1px solid #fff;
      background: no-repeat left center; }
      .sideNav .sublist li.current {
        border: 1px solid #cedde6;
        background: #f2faff; }
      .sideNav .sublist li a {
        display: block;
        padding-left: 40px;
        color: #555 !important;
        text-decoration: none !important;
        background: no-repeat 17px 50%; }
        .sideNav .sublist li a:hover {
          color: #555;
          text-decoration: none; }

/* topbar */
.top-login {
  padding-left: 0; }
  .top-login a {
    margin-right: 10px; }

.top-nav {
  padding-right: 5px; }
  .top-nav a {
    margin-left: 10px; }

/* header */
.site-name {
  display: none; }

.site-logo {
  height: 100px;
  line-height: 100px;
  overflow: hidden; }
  .site-logo img {
    display: block; }

.site-nav {
  float: right;
  height: 100px;
  line-height: 100px; }
  .site-nav li {
    float: left;
    display: inline;
    margin-left: 10px; }
    .site-nav li a {
      color: #333;
      text-decoration: none; }
      .site-nav li a:link, .site-nav li a:visited {
        color: #333;
        text-decoration: none; }
      .site-nav li a:hover, .site-nav li a:active, .site-nav li a:focus {
        color: #f47a11;
        text-decoration: none; }

.main-nav {
  font-size: 14px;
  line-height: 30px;
  background: #eee;
  margin: 0; }
  .main-nav li {
    float: left;
    padding: 0 10px 0 10px; }
    .main-nav li a {
      color: #333;
      text-decoration: none; }
      .main-nav li a:link, .main-nav li a:visited {
        color: #333;
        text-decoration: none; }
      .main-nav li a:hover, .main-nav li a:active, .main-nav li a:focus {
        color: #f47a11;
        text-decoration: none; }

.site-banner {
  background: #eee; }
  .site-banner img {
    display: block;
    text-align: center; }

/* footer */
.foot-nav {
  margin: 5px 0;
  text-align: center; }
  .foot-nav li {
    display: inline; }
  .foot-nav a {
    padding: 0 5px; }

.copyright {
  margin: 5px 0;
  line-height: 24px;
  color: #333; }

/* base wrapper */
.wrap-tit {
  line-height: 30px;
  background: #ddd; }

.wrap-tit-l {
  float: left;
  padding-left: 10px; }

.wrap-tit-r {
  float: right;
  padding-right: 10px; }
  .wrap-tit-r a {
    color: #333; }

.wrap-inner {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }

.wrap-btm {
  background: #ddd; }

.wrap-btm-l {
  float: left;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #ddd;
  line-height: 1px;
  font-size: 1px; }

.wrap-btm-r {
  float: right;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #ddd;
  line-height: 1px;
  font-size: 1px; }

/* other wrapper */
.comWrap .wrap-tit {
  border: 1px solid #0074bd;
  background: #007bc7;
  line-height: 34px; }
.comWrap .wrap-tit-l {
  height: 34px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: default; }
.comWrap .wrap-tit-r {
  height: 34px;
  font-size: 14px;
  color: #fff; }
  .comWrap .wrap-tit-r a {
    text-decoration: none !important;
    color: #fff !important; }
.comWrap .wrap-inner {
  background: #fff;
  border-left: 1px solid #e3e2e1;
  border-right: 1px solid #e3e2e1; }
.comWrap .wrap-btm {
  height: 5px;
  line-height: 5px;
  overflow: hidden;
  background: #e3e2e1 url(../images/wrap_btm_m.png) repeat-x; }
.comWrap .wrap-btm-l {
  height: 5px;
  line-height: 5px;
  overflow: hidden;
  background: #e3e2e1 url(../images/wrap_btm_l.png) no-repeat left top; }
.comWrap .wrap-btm-r {
  height: 5px;
  line-height: 5px;
  overflow: hidden;
  background: #e3e2e1 url(../images/wrap_btm_r.png) no-repeat right top; }

/* crumb */
.crumb {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background: #eee;
  border: 1px solid #ddd; }
  .crumb .crumb-l {
    display: block;
    float: left;
    width: 5px;
    height: 100%;
    overflow: hidden;
    background: url(../images/xxx.png) no-repeat left top; }
  .crumb .crumb-r {
    display: block;
    float: right;
    width: 5px;
    height: 100%;
    overflow: hidden;
    background: url(../images/xxx.png) no-repeat right top; }
  .crumb .crumb-m {
    height: 100%;
    color: #666; }
    .crumb .crumb-m a {
      text-decoration: none !important; }
    .crumb .crumb-m .home {
      color: #000; }
      .crumb .crumb-m .home b {
        font-weight: 700; }
    .crumb .crumb-m .home, .crumb .crumb-m link {
      margin: 0 5px;
      color: #666; }
    .crumb .crumb-m .label {
      margin: 0 5px; }

/* paging */
.pages {
  height: 30px;
  padding: 10px; }
  .pages .list {
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333; }
    .pages .list a, .pages .list b {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin: 0 1px;
      padding: 5px 6px;
      border: 1px solid #ddd;
      background: #fff;
      cursor: pointer;
      text-decoration: none; }
    .pages .list a.cur, .pages .list b {
      border-color: #ddd;
      background-color: #999;
      color: #fff;
      cursor: default; }
    .pages .list em {
      padding: 5px 6px; }

/*- table list -*/
.comTabList {
  border: 1px solid #ddd; }
  .comTabList tr {
    border-bottom: 1px solid #ddd; }
    .comTabList tr.odd {
      background-color: #fff; }
    .comTabList tr.eve {
      background-color: #f6f6f6; }
    .comTabList tr.first {
      border-top: none; }
    .comTabList tr:last-child, .comTabList tr.last {
      border-bottom: none; }
  .comTabList th, .comTabList td {
    line-height: 24px;
    padding: 6px 10px;
    border-bottom: 1px solid #d9d9d9;
    /*border-right:1px solid #d9d9d9;*/ }
    .comTabList th.last, .comTabList td.last {
      border-right: none; }
  .comTabList th {
    padding: 6px 10px;
    font-weight: 700;
    background-color: #eee; }
  .comTabList td a.item {
    display: block;
    text-decoration: none !important; }
  .comTabList tr:hover td, .comTabList tr.hover td {
    background-color: #dfeff9;
    border-bottom: 1px solid #ccdee3; }
  .comTabList tr.last td {
    border-bottom: none !important; }
  .comTabList .operate {
    display: block;
    text-align: center; }
    .comTabList .operate a {
      color: #0074bb !important; }
      .comTabList .operate a.opt_del {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 13px;
        white-space: nowrap;
        margin-right: 3px;
        color: #e00;
        background: url(../images/opt_del.gif) no-repeat left center;
        text-decoration: none !important; }
  .comTabList input {
    vertical-align: middle; }
  .comTabList .userBG,
  .comTabList .userAvater {
    padding: 10px 0 10px 5px;
    vertical-align: middle; }
    .comTabList .userBG img,
    .comTabList .userAvater img {
      vertical-align: middle; }

/* form && fieldset element */
.form-field {
  padding: 10px;
  border: 1px solid #ccc; }
  .form-field legend {
    background: #fff; }

.form-list {
  padding: 0 5px;
  line-height: 30px; }
  .form-list li {
    padding: 1px 0;
    clear: both; }
    .form-list li .lab {
      float: left;
      width: 60px;
      padding: 0 5px;
      text-align: right; }
    .form-list li .mod {
      float: left;
      padding: 0 5px; }
  .form-list.clearfix {
    zoom: 1; }
    .form-list.clearfix li:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }

/* from buttons */
input.form-image {
  vertical-align: middle; }
input.form-reset, input.form-button, input.form-submit {
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #f9f9f9;
  color: #3e3e3e;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f4f4f4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f4f4f4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f4f4f4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #f4f4f4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #f4f4f4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #f4f4f4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f4f4f4',GradientType=0 );
  /* IE6-9 */ }
input.form-reset-alt, input.form-button-alt, input.form-submit-alt {
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  vertical-align: middle;
  border: 1px solid #3089be;
  background: #369bd7;
  color: #fff; }

a.form-btn {
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #f9f9f9;
  color: #3e3e3e; }
a.form-btn-alt {
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  vertical-align: middle;
  border: 1px solid #3089be;
  background: #369bd7;
  color: #fff; }

/* input uploader */
.uploader {
  position: relative; }
  .uploader .path {
    width: 120px;
    cursor: pointer;
    vertical-align: middle; }
  .uploader .btn {
    width: 60px;
    height: 24px;
    border: 1px solid #308bc2;
    background: #369bd7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    text-decoration: none !important;
    vertical-align: middle; }
  .uploader .file {
    position: absolute;
    left: 0;
    top: -2px;
    width: 200px;
    height: 24px;
    vertical-align: top;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

/* jquery.selectbox */
.sbHolder {
  background: #fdfdfd url(../images/frmlist_itm.gif) no-repeat;
  border: solid 1px #ccc;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 26px;
  position: relative;
  width: 206px; }

.sbHolder:focus .sbSelector {
  border-color: #ccc; }

.sbSelector {
  display: block;
  height: 26px;
  left: 0;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 176px; }
  .sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #3e3e3e;
    outline: none;
    text-decoration: none; }

.sbToggle {
  background: url(../images/select-icons.png) 0 -118px no-repeat;
  display: block;
  height: 26px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px; }
  .sbToggle:hover {
    background: url(../images/select-icons.png) 0 -168px no-repeat; }

.sbToggleOpen {
  background: url(../images/select-icons.png) 0 -18px no-repeat; }
  .sbToggleOpen:hover {
    background: url(../images/select-icons.png) 0 -68px no-repeat; }

.sbHolderDisabled {
  background-color: #3C3C3C;
  border: solid 1px #515151; }

.sbOptions {
  background-color: #fdfdfd;
  border: solid 1px #ccc;
  list-style: none;
  left: -1px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 26px;
  width: 206px;
  z-index: 1;
  overflow-y: auto; }
  .sbOptions li {
    margin: 0;
    padding: 0 !important; }
    .sbOptions li.last a {
      border-bottom: none; }
  .sbOptions a {
    display: block;
    outline: none;
    padding: 0 0 0 3px; }
    .sbOptions a:link, .sbOptions a:visited {
      color: #333;
      text-decoration: none; }
    .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
      color: #ff8126; }
  .sbOptions .sbDisabled {
    color: #999;
    display: block;
    padding: 0 0 0 3px; }
  .sbOptions .sbGroup {
    border-top: dashed 1px #bbb;
    color: #1b5ab9;
    display: block;
    font-weight: bold;
    padding: 3px 0 3px 3px; }
  .sbOptions .sbSub {
    padding-left: 17px; }

/* placeholder */
.placeholder {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  position: relative; }
  .placeholder .p_label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    left: 0;
    top: 0;
    *top: 2px;
    height: 24px;
    line-height: 24px;
    width: 200px;
    color: #999;
    cursor: text;
    text-indent: 5px; }
  .placeholder .p_label.disable {
    visibility: hidden; }

/* text list -*/
.text-list i {
  float: right;
  font-style: normal; }
.text-list b {
  margin-right: 1px;
  font-weight: normal; }
.text-list span {
  margin-left: 3px; }

/* common text list */
.tl-common {
  line-height: 24px; }
  .tl-common li {
    color: #333;
    padding-left: 12px;
    background: url(../images/dot.png) no-repeat left center; }
  .tl-common a {
    color: #333; }
    .tl-common a:hover {
      color: #f47a11; }
  .tl-common i {
    color: #999; }
  .tl-common b {
    color: #999; }
    .tl-common b a {
      color: #999; }
  .tl-common span {
    color: #666; }

/*-order text list-*/
.tl-order {
  line-height: 24px; }
  .tl-order li .itemNum {
    margin-right: 2px;
    padding: 0 3px;
    line-height: 16px;
    text-align: center;
    color: #999;
    background: #eee;
    left: 0;
    top: 5px; }
  .tl-order a {
    color: #333; }
    .tl-order a:hover {
      color: #f47a11; }
  .tl-order i {
    color: #999; }
  .tl-order b {
    color: #999; }
    .tl-order b a {
      color: #999; }
  .tl-order span {
    color: #666; }

/* images list */
.images-list img {
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle; }
.images-list span {
  text-align: center; }

/* master images list */
.il-master li {
  float: left;
  padding: 10px; }
.il-master img {
  padding: 3px;
  border: 1px solid #ddd;
  background: #fff; }
.il-master span {
  display: block;
  padding-top: 2px; }

/* assist images list */
.il-assist li {
  float: left;
  padding: 10px; }
.il-assist img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid #ddd;
  background: #fff; }
.il-assist span {
  display: inline; }

/* mixin list */
.mixin-list .img {
  float: left; }
  .mixin-list .img img {
    display: block;
    text-align: center;
    vertical-align: middle; }
  .mixin-list .img span {
    display: block;
    text-align: center; }
.mixin-list .list a:link, .mixin-list .list a:visited {
  color: #333;
  text-decoration: none; }
.mixin-list .list a:hover, .mixin-list .list a:active, .mixin-list .list a:focus {
  color: #f47a11;
  text-decoration: underline; }

/* single mixin list */
.ml-single {
  padding: 10px; }
  .ml-single .tit {
    margin-left: 115px;
    font-weight: 700;
    line-height: 24px; }
  .ml-single .img {
    margin-top: -18px; }
    .ml-single .img img {
      border: 1px solid #666; }
    .ml-single .img span {
      padding-top: 2px; }
  .ml-single .list {
    margin-left: 115px;
    line-height: 20px; }
  .ml-single .para {
    margin-left: 120px;
    text-indent: 2em; }
    .ml-single .para .more {
      margin-left: 5px; }

/* multiple mixin list */
.ml-multiple {
  padding: 10px; }
  .ml-multiple .tit {
    margin-left: 115px;
    font-weight: 700;
    line-height: 22px; }
  .ml-multiple .img {
    margin-top: -16px; }
    .ml-multiple .img img {
      position: relative;
      border: 1px solid #666; }
    .ml-multiple .img span {
      position: relative;
      height: 20px;
      line-height: 20px;
      margin-top: -21px;
      margin-left: 1px;
      background: #333;
      color: #fff;
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .ml-multiple .para {
    text-indent: 1em;
    line-height: 20px;
    margin-left: 115px; }
    .ml-multiple .para .more {
      color: #f47a11; }

/*# sourceMappingURL=common.css.map */
