/*	Common.css
	Author:dew
	Date:2015-11-18
	Description:Framework 1000px and 1200px grid system
--------------------------------------------------------------------------------*/
.s-g-wrap {
  width: 1000px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.w-g-wrap {
  width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.grid, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-26, .grid-27, .grid-28, .grid-29, .grid-30, .grid-31, .grid-32, .grid-33, .grid-34, .grid-35, .grid-36, .grid-37, .grid-38, .grid-39, .grid-40, .grid-41, .grid-42, .grid-43, .grid-44, .grid-45, .grid-46, .grid-47, .grid-48, .grid-49, .grid-50 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px; }

.pull, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24, .pull-25, .pull-26, .pull-27, .pull-28, .pull-29, .pull-30, .pull-31, .pull-32, .pull-33, .pull-34, .pull-35, .pull-36, .pull-37, .pull-38, .pull-39, .pull-40, .pull-41, .pull-42, .pull-43, .pull-44, .pull-45, .pull-46, .pull-47, .pull-48, .pull-49, .push, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25, .push-26, .push-27, .push-28, .push-29, .push-30, .push-31, .push-32, .push-33, .push-34, .push-35, .push-36, .push-37, .push-38, .push-39, .push-40, .push-41, .push-42, .push-43, .push-44, .push-45, .push-46, .push-47, .push-48, .push-49 {
  position: relative; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.s-g-wrap .grid-1 {
  width: 10px; }

.s-g-wrap .grid-2 {
  width: 30px; }

.s-g-wrap .grid-3 {
  width: 50px; }

.s-g-wrap .grid-4 {
  width: 70px; }

.s-g-wrap .grid-5 {
  width: 90px; }

.s-g-wrap .grid-6 {
  width: 110px; }

.s-g-wrap .grid-7 {
  width: 130px; }

.s-g-wrap .grid-8 {
  width: 150px; }

.s-g-wrap .grid-9 {
  width: 170px; }

.s-g-wrap .grid-10 {
  width: 190px; }

.s-g-wrap .grid-11 {
  width: 210px; }

.s-g-wrap .grid-12 {
  width: 230px; }

.s-g-wrap .grid-13 {
  width: 250px; }

.s-g-wrap .grid-14 {
  width: 270px; }

.s-g-wrap .grid-15 {
  width: 290px; }

.s-g-wrap .grid-16 {
  width: 310px; }

.s-g-wrap .grid-17 {
  width: 330px; }

.s-g-wrap .grid-18 {
  width: 350px; }

.s-g-wrap .grid-19 {
  width: 370px; }

.s-g-wrap .grid-20 {
  width: 390px; }

.s-g-wrap .grid-21 {
  width: 410px; }

.s-g-wrap .grid-22 {
  width: 430px; }

.s-g-wrap .grid-23 {
  width: 450px; }

.s-g-wrap .grid-24 {
  width: 470px; }

.s-g-wrap .grid-25 {
  width: 490px; }

.s-g-wrap .grid-26 {
  width: 510px; }

.s-g-wrap .grid-27 {
  width: 530px; }

.s-g-wrap .grid-28 {
  width: 550px; }

.s-g-wrap .grid-29 {
  width: 570px; }

.s-g-wrap .grid-30 {
  width: 590px; }

.s-g-wrap .grid-31 {
  width: 610px; }

.s-g-wrap .grid-32 {
  width: 630px; }

.s-g-wrap .grid-33 {
  width: 650px; }

.s-g-wrap .grid-34 {
  width: 670px; }

.s-g-wrap .grid-35 {
  width: 690px; }

.s-g-wrap .grid-36 {
  width: 710px; }

.s-g-wrap .grid-37 {
  width: 730px; }

.s-g-wrap .grid-38 {
  width: 750px; }

.s-g-wrap .grid-39 {
  width: 770px; }

.s-g-wrap .grid-40 {
  width: 790px; }

.s-g-wrap .grid-41 {
  width: 810px; }

.s-g-wrap .grid-42 {
  width: 830px; }

.s-g-wrap .grid-43 {
  width: 850px; }

.s-g-wrap .grid-44 {
  width: 870px; }

.s-g-wrap .grid-45 {
  width: 890px; }

.s-g-wrap .grid-46 {
  width: 910px; }

.s-g-wrap .grid-47 {
  width: 930px; }

.s-g-wrap .grid-48 {
  width: 950px; }

.s-g-wrap .grid-49 {
  width: 970px; }

.s-g-wrap .grid-50 {
  width: 990px; }

.s-g-wrap .push-1 {
  left: 20px; }

.s-g-wrap .push-2 {
  left: 40px; }

.s-g-wrap .push-3 {
  left: 60px; }

.s-g-wrap .push-4 {
  left: 80px; }

.s-g-wrap .push-5 {
  left: 100px; }

.s-g-wrap .push-6 {
  left: 120px; }

.s-g-wrap .push-7 {
  left: 140px; }

.s-g-wrap .push-8 {
  left: 160px; }

.s-g-wrap .push-9 {
  left: 180px; }

.s-g-wrap .push-10 {
  left: 200px; }

.s-g-wrap .push-11 {
  left: 220px; }

.s-g-wrap .push-12 {
  left: 240px; }

.s-g-wrap .push-13 {
  left: 260px; }

.s-g-wrap .push-14 {
  left: 280px; }

.s-g-wrap .push-15 {
  left: 300px; }

.s-g-wrap .push-16 {
  left: 320px; }

.s-g-wrap .push-17 {
  left: 340px; }

.s-g-wrap .push-18 {
  left: 360px; }

.s-g-wrap .push-19 {
  left: 380px; }

.s-g-wrap .push-20 {
  left: 400px; }

.s-g-wrap .push-21 {
  left: 420px; }

.s-g-wrap .push-22 {
  left: 440px; }

.s-g-wrap .push-23 {
  left: 460px; }

.s-g-wrap .push-24 {
  left: 480px; }

.s-g-wrap .push-25 {
  left: 500px; }

.s-g-wrap .push-26 {
  left: 520px; }

.s-g-wrap .push-27 {
  left: 540px; }

.s-g-wrap .push-28 {
  left: 560px; }

.s-g-wrap .push-29 {
  left: 580px; }

.s-g-wrap .push-30 {
  left: 600px; }

.s-g-wrap .push-31 {
  left: 620px; }

.s-g-wrap .push-32 {
  left: 640px; }

.s-g-wrap .push-33 {
  left: 660px; }

.s-g-wrap .push-34 {
  left: 680px; }

.s-g-wrap .push-35 {
  left: 700px; }

.s-g-wrap .push-36 {
  left: 720px; }

.s-g-wrap .push-37 {
  left: 740px; }

.s-g-wrap .push-38 {
  left: 760px; }

.s-g-wrap .push-39 {
  left: 780px; }

.s-g-wrap .push-40 {
  left: 800px; }

.s-g-wrap .push-41 {
  left: 820px; }

.s-g-wrap .push-42 {
  left: 840px; }

.s-g-wrap .push-43 {
  left: 860px; }

.s-g-wrap .push-44 {
  left: 880px; }

.s-g-wrap .push-45 {
  left: 900px; }

.s-g-wrap .push-46 {
  left: 920px; }

.s-g-wrap .push-47 {
  left: 940px; }

.s-g-wrap .push-48 {
  left: 960px; }

.s-g-wrap .push-49 {
  left: 980px; }

.s-g-wrap .pull-1 {
  left: -20px; }

.s-g-wrap .pull-2 {
  left: -40px; }

.s-g-wrap .pull-3 {
  left: -60px; }

.s-g-wrap .pull-4 {
  left: -80px; }

.s-g-wrap .pull-5 {
  left: -100px; }

.s-g-wrap .pull-6 {
  left: -120px; }

.s-g-wrap .pull-7 {
  left: -140px; }

.s-g-wrap .pull-8 {
  left: -160px; }

.s-g-wrap .pull-9 {
  left: -180px; }

.s-g-wrap .pull-10 {
  left: -200px; }

.s-g-wrap .pull-11 {
  left: -220px; }

.s-g-wrap .pull-12 {
  left: -240px; }

.s-g-wrap .pull-13 {
  left: -260px; }

.s-g-wrap .pull-14 {
  left: -280px; }

.s-g-wrap .pull-15 {
  left: -300px; }

.s-g-wrap .pull-16 {
  left: -320px; }

.s-g-wrap .pull-17 {
  left: -340px; }

.s-g-wrap .pull-18 {
  left: -360px; }

.s-g-wrap .pull-19 {
  left: -380px; }

.s-g-wrap .pull-20 {
  left: -400px; }

.s-g-wrap .pull-21 {
  left: -420px; }

.s-g-wrap .pull-22 {
  left: -440px; }

.s-g-wrap .pull-23 {
  left: -460px; }

.s-g-wrap .pull-24 {
  left: -480px; }

.s-g-wrap .pull-25 {
  left: -500px; }

.s-g-wrap .pull-26 {
  left: -520px; }

.s-g-wrap .pull-27 {
  left: -540px; }

.s-g-wrap .pull-28 {
  left: -560px; }

.s-g-wrap .pull-29 {
  left: -580px; }

.s-g-wrap .pull-30 {
  left: -600px; }

.s-g-wrap .pull-31 {
  left: -620px; }

.s-g-wrap .pull-32 {
  left: -640px; }

.s-g-wrap .pull-33 {
  left: -660px; }

.s-g-wrap .pull-34 {
  left: -680px; }

.s-g-wrap .pull-35 {
  left: -700px; }

.s-g-wrap .pull-36 {
  left: -720px; }

.s-g-wrap .pull-37 {
  left: -740px; }

.s-g-wrap .pull-38 {
  left: -760px; }

.s-g-wrap .pull-39 {
  left: -780px; }

.s-g-wrap .pull-40 {
  left: -800px; }

.s-g-wrap .pull-41 {
  left: -820px; }

.s-g-wrap .pull-42 {
  left: -840px; }

.s-g-wrap .pull-43 {
  left: -860px; }

.s-g-wrap .pull-44 {
  left: -880px; }

.s-g-wrap .pull-45 {
  left: -900px; }

.s-g-wrap .pull-46 {
  left: -920px; }

.s-g-wrap .pull-47 {
  left: -940px; }

.s-g-wrap .pull-48 {
  left: -960px; }

.s-g-wrap .pull-49 {
  left: -980px; }

.s-g-wrap .prefix-1 {
  padding-left: 20px; }
.s-g-wrap .suffix-1 {
  padding-right: 20px; }

.s-g-wrap .prefix-2 {
  padding-left: 40px; }
.s-g-wrap .suffix-2 {
  padding-right: 40px; }

.s-g-wrap .prefix-3 {
  padding-left: 60px; }
.s-g-wrap .suffix-3 {
  padding-right: 60px; }

.s-g-wrap .prefix-4 {
  padding-left: 80px; }
.s-g-wrap .suffix-4 {
  padding-right: 80px; }

.s-g-wrap .prefix-5 {
  padding-left: 100px; }
.s-g-wrap .suffix-5 {
  padding-right: 100px; }

.s-g-wrap .prefix-6 {
  padding-left: 120px; }
.s-g-wrap .suffix-6 {
  padding-right: 120px; }

.s-g-wrap .prefix-7 {
  padding-left: 140px; }
.s-g-wrap .suffix-7 {
  padding-right: 140px; }

.s-g-wrap .prefix-8 {
  padding-left: 160px; }
.s-g-wrap .suffix-8 {
  padding-right: 160px; }

.s-g-wrap .prefix-9 {
  padding-left: 180px; }
.s-g-wrap .suffix-9 {
  padding-right: 180px; }

.s-g-wrap .prefix-10 {
  padding-left: 200px; }
.s-g-wrap .suffix-10 {
  padding-right: 200px; }

.s-g-wrap .prefix-11 {
  padding-left: 220px; }
.s-g-wrap .suffix-11 {
  padding-right: 220px; }

.s-g-wrap .prefix-12 {
  padding-left: 240px; }
.s-g-wrap .suffix-12 {
  padding-right: 240px; }

.s-g-wrap .prefix-13 {
  padding-left: 260px; }
.s-g-wrap .suffix-13 {
  padding-right: 260px; }

.s-g-wrap .prefix-14 {
  padding-left: 280px; }
.s-g-wrap .suffix-14 {
  padding-right: 280px; }

.s-g-wrap .prefix-15 {
  padding-left: 300px; }
.s-g-wrap .suffix-15 {
  padding-right: 300px; }

.s-g-wrap .prefix-16 {
  padding-left: 320px; }
.s-g-wrap .suffix-16 {
  padding-right: 320px; }

.s-g-wrap .prefix-17 {
  padding-left: 340px; }
.s-g-wrap .suffix-17 {
  padding-right: 340px; }

.s-g-wrap .prefix-18 {
  padding-left: 360px; }
.s-g-wrap .suffix-18 {
  padding-right: 360px; }

.s-g-wrap .prefix-19 {
  padding-left: 380px; }
.s-g-wrap .suffix-19 {
  padding-right: 380px; }

.s-g-wrap .prefix-20 {
  padding-left: 400px; }
.s-g-wrap .suffix-20 {
  padding-right: 400px; }

.s-g-wrap .prefix-21 {
  padding-left: 420px; }
.s-g-wrap .suffix-21 {
  padding-right: 420px; }

.s-g-wrap .prefix-22 {
  padding-left: 440px; }
.s-g-wrap .suffix-22 {
  padding-right: 440px; }

.s-g-wrap .prefix-23 {
  padding-left: 460px; }
.s-g-wrap .suffix-23 {
  padding-right: 460px; }

.s-g-wrap .prefix-24 {
  padding-left: 480px; }
.s-g-wrap .suffix-24 {
  padding-right: 480px; }

.s-g-wrap .prefix-25 {
  padding-left: 500px; }
.s-g-wrap .suffix-25 {
  padding-right: 500px; }

.s-g-wrap .prefix-26 {
  padding-left: 520px; }
.s-g-wrap .suffix-26 {
  padding-right: 520px; }

.s-g-wrap .prefix-27 {
  padding-left: 540px; }
.s-g-wrap .suffix-27 {
  padding-right: 540px; }

.s-g-wrap .prefix-28 {
  padding-left: 560px; }
.s-g-wrap .suffix-28 {
  padding-right: 560px; }

.s-g-wrap .prefix-29 {
  padding-left: 580px; }
.s-g-wrap .suffix-29 {
  padding-right: 580px; }

.s-g-wrap .prefix-30 {
  padding-left: 600px; }
.s-g-wrap .suffix-30 {
  padding-right: 600px; }

.s-g-wrap .prefix-31 {
  padding-left: 620px; }
.s-g-wrap .suffix-31 {
  padding-right: 620px; }

.s-g-wrap .prefix-32 {
  padding-left: 640px; }
.s-g-wrap .suffix-32 {
  padding-right: 640px; }

.s-g-wrap .prefix-33 {
  padding-left: 660px; }
.s-g-wrap .suffix-33 {
  padding-right: 660px; }

.s-g-wrap .prefix-34 {
  padding-left: 680px; }
.s-g-wrap .suffix-34 {
  padding-right: 680px; }

.s-g-wrap .prefix-35 {
  padding-left: 700px; }
.s-g-wrap .suffix-35 {
  padding-right: 700px; }

.s-g-wrap .prefix-36 {
  padding-left: 720px; }
.s-g-wrap .suffix-36 {
  padding-right: 720px; }

.s-g-wrap .prefix-37 {
  padding-left: 740px; }
.s-g-wrap .suffix-37 {
  padding-right: 740px; }

.s-g-wrap .prefix-38 {
  padding-left: 760px; }
.s-g-wrap .suffix-38 {
  padding-right: 760px; }

.s-g-wrap .prefix-39 {
  padding-left: 780px; }
.s-g-wrap .suffix-39 {
  padding-right: 780px; }

.s-g-wrap .prefix-40 {
  padding-left: 800px; }
.s-g-wrap .suffix-40 {
  padding-right: 800px; }

.s-g-wrap .prefix-41 {
  padding-left: 820px; }
.s-g-wrap .suffix-41 {
  padding-right: 820px; }

.s-g-wrap .prefix-42 {
  padding-left: 840px; }
.s-g-wrap .suffix-42 {
  padding-right: 840px; }

.s-g-wrap .prefix-43 {
  padding-left: 860px; }
.s-g-wrap .suffix-43 {
  padding-right: 860px; }

.s-g-wrap .prefix-44 {
  padding-left: 880px; }
.s-g-wrap .suffix-44 {
  padding-right: 880px; }

.s-g-wrap .prefix-45 {
  padding-left: 900px; }
.s-g-wrap .suffix-45 {
  padding-right: 900px; }

.s-g-wrap .prefix-46 {
  padding-left: 920px; }
.s-g-wrap .suffix-46 {
  padding-right: 920px; }

.s-g-wrap .prefix-47 {
  padding-left: 940px; }
.s-g-wrap .suffix-47 {
  padding-right: 940px; }

.s-g-wrap .prefix-48 {
  padding-left: 960px; }
.s-g-wrap .suffix-48 {
  padding-right: 960px; }

.s-g-wrap .prefix-49 {
  padding-left: 980px; }
.s-g-wrap .suffix-49 {
  padding-right: 980px; }

.w-g-wrap .grid-1 {
  width: 20px; }

.w-g-wrap .grid-2 {
  width: 50px; }

.w-g-wrap .grid-3 {
  width: 80px; }

.w-g-wrap .grid-4 {
  width: 110px; }

.w-g-wrap .grid-5 {
  width: 140px; }

.w-g-wrap .grid-6 {
  width: 170px; }

.w-g-wrap .grid-7 {
  width: 200px; }

.w-g-wrap .grid-8 {
  width: 230px; }

.w-g-wrap .grid-9 {
  width: 260px; }

.w-g-wrap .grid-10 {
  width: 290px; }

.w-g-wrap .grid-11 {
  width: 320px; }

.w-g-wrap .grid-12 {
  width: 350px; }

.w-g-wrap .grid-13 {
  width: 380px; }

.w-g-wrap .grid-14 {
  width: 410px; }

.w-g-wrap .grid-15 {
  width: 440px; }

.w-g-wrap .grid-16 {
  width: 470px; }

.w-g-wrap .grid-17 {
  width: 500px; }

.w-g-wrap .grid-18 {
  width: 530px; }

.w-g-wrap .grid-19 {
  width: 560px; }

.w-g-wrap .grid-20 {
  width: 590px; }

.w-g-wrap .grid-21 {
  width: 620px; }

.w-g-wrap .grid-22 {
  width: 650px; }

.w-g-wrap .grid-23 {
  width: 680px; }

.w-g-wrap .grid-24 {
  width: 710px; }

.w-g-wrap .grid-25 {
  width: 740px; }

.w-g-wrap .grid-26 {
  width: 770px; }

.w-g-wrap .grid-27 {
  width: 800px; }

.w-g-wrap .grid-28 {
  width: 830px; }

.w-g-wrap .grid-29 {
  width: 860px; }

.w-g-wrap .grid-30 {
  width: 890px; }

.w-g-wrap .grid-31 {
  width: 920px; }

.w-g-wrap .grid-32 {
  width: 950px; }

.w-g-wrap .grid-33 {
  width: 980px; }

.w-g-wrap .grid-34 {
  width: 1010px; }

.w-g-wrap .grid-35 {
  width: 1040px; }

.w-g-wrap .grid-36 {
  width: 1070px; }

.w-g-wrap .grid-37 {
  width: 1100px; }

.w-g-wrap .grid-38 {
  width: 1130px; }

.w-g-wrap .grid-39 {
  width: 1160px; }

.w-g-wrap .grid-40 {
  width: 1190px; }

.w-g-wrap .push-1 {
  left: 30px; }

.w-g-wrap .push-2 {
  left: 60px; }

.w-g-wrap .push-3 {
  left: 90px; }

.w-g-wrap .push-4 {
  left: 120px; }

.w-g-wrap .push-5 {
  left: 150px; }

.w-g-wrap .push-6 {
  left: 180px; }

.w-g-wrap .push-7 {
  left: 210px; }

.w-g-wrap .push-8 {
  left: 240px; }

.w-g-wrap .push-9 {
  left: 270px; }

.w-g-wrap .push-10 {
  left: 300px; }

.w-g-wrap .push-11 {
  left: 330px; }

.w-g-wrap .push-12 {
  left: 360px; }

.w-g-wrap .push-13 {
  left: 390px; }

.w-g-wrap .push-14 {
  left: 420px; }

.w-g-wrap .push-15 {
  left: 450px; }

.w-g-wrap .push-16 {
  left: 480px; }

.w-g-wrap .push-17 {
  left: 510px; }

.w-g-wrap .push-18 {
  left: 540px; }

.w-g-wrap .push-19 {
  left: 570px; }

.w-g-wrap .push-20 {
  left: 600px; }

.w-g-wrap .push-21 {
  left: 630px; }

.w-g-wrap .push-22 {
  left: 660px; }

.w-g-wrap .push-23 {
  left: 690px; }

.w-g-wrap .push-24 {
  left: 720px; }

.w-g-wrap .push-25 {
  left: 750px; }

.w-g-wrap .push-26 {
  left: 780px; }

.w-g-wrap .push-27 {
  left: 810px; }

.w-g-wrap .push-28 {
  left: 840px; }

.w-g-wrap .push-29 {
  left: 870px; }

.w-g-wrap .push-30 {
  left: 900px; }

.w-g-wrap .push-31 {
  left: 930px; }

.w-g-wrap .push-32 {
  left: 960px; }

.w-g-wrap .push-33 {
  left: 990px; }

.w-g-wrap .push-34 {
  left: 1020px; }

.w-g-wrap .push-35 {
  left: 1050px; }

.w-g-wrap .push-36 {
  left: 1080px; }

.w-g-wrap .push-37 {
  left: 1110px; }

.w-g-wrap .push-38 {
  left: 1140px; }

.w-g-wrap .push-39 {
  left: 1170px; }

.w-g-wrap .pull-1 {
  left: -30px; }

.w-g-wrap .pull-2 {
  left: -60px; }

.w-g-wrap .pull-3 {
  left: -90px; }

.w-g-wrap .pull-4 {
  left: -120px; }

.w-g-wrap .pull-5 {
  left: -150px; }

.w-g-wrap .pull-6 {
  left: -180px; }

.w-g-wrap .pull-7 {
  left: -210px; }

.w-g-wrap .pull-8 {
  left: -240px; }

.w-g-wrap .pull-9 {
  left: -270px; }

.w-g-wrap .pull-10 {
  left: -300px; }

.w-g-wrap .pull-11 {
  left: -330px; }

.w-g-wrap .pull-12 {
  left: -360px; }

.w-g-wrap .pull-13 {
  left: -390px; }

.w-g-wrap .pull-14 {
  left: -420px; }

.w-g-wrap .pull-15 {
  left: -450px; }

.w-g-wrap .pull-16 {
  left: -480px; }

.w-g-wrap .pull-17 {
  left: -510px; }

.w-g-wrap .pull-18 {
  left: -540px; }

.w-g-wrap .pull-19 {
  left: -570px; }

.w-g-wrap .pull-20 {
  left: -600px; }

.w-g-wrap .pull-21 {
  left: -630px; }

.w-g-wrap .pull-22 {
  left: -660px; }

.w-g-wrap .pull-23 {
  left: -690px; }

.w-g-wrap .pull-24 {
  left: -720px; }

.w-g-wrap .pull-25 {
  left: -750px; }

.w-g-wrap .pull-26 {
  left: -780px; }

.w-g-wrap .pull-27 {
  left: -810px; }

.w-g-wrap .pull-28 {
  left: -840px; }

.w-g-wrap .pull-29 {
  left: -870px; }

.w-g-wrap .pull-30 {
  left: -900px; }

.w-g-wrap .pull-31 {
  left: -930px; }

.w-g-wrap .pull-32 {
  left: -960px; }

.w-g-wrap .pull-33 {
  left: -990px; }

.w-g-wrap .pull-34 {
  left: -1020px; }

.w-g-wrap .pull-35 {
  left: -1050px; }

.w-g-wrap .pull-36 {
  left: -1080px; }

.w-g-wrap .pull-37 {
  left: -1110px; }

.w-g-wrap .pull-38 {
  left: -1140px; }

.w-g-wrap .pull-39 {
  left: -1170px; }

.w-g-wrap .prefix-1 {
  padding-left: 30px; }
.w-g-wrap .suffix-1 {
  padding-right: 30px; }

.w-g-wrap .prefix-2 {
  padding-left: 60px; }
.w-g-wrap .suffix-2 {
  padding-right: 60px; }

.w-g-wrap .prefix-3 {
  padding-left: 90px; }
.w-g-wrap .suffix-3 {
  padding-right: 90px; }

.w-g-wrap .prefix-4 {
  padding-left: 120px; }
.w-g-wrap .suffix-4 {
  padding-right: 120px; }

.w-g-wrap .prefix-5 {
  padding-left: 150px; }
.w-g-wrap .suffix-5 {
  padding-right: 150px; }

.w-g-wrap .prefix-6 {
  padding-left: 180px; }
.w-g-wrap .suffix-6 {
  padding-right: 180px; }

.w-g-wrap .prefix-7 {
  padding-left: 210px; }
.w-g-wrap .suffix-7 {
  padding-right: 210px; }

.w-g-wrap .prefix-8 {
  padding-left: 240px; }
.w-g-wrap .suffix-8 {
  padding-right: 240px; }

.w-g-wrap .prefix-9 {
  padding-left: 270px; }
.w-g-wrap .suffix-9 {
  padding-right: 270px; }

.w-g-wrap .prefix-10 {
  padding-left: 300px; }
.w-g-wrap .suffix-10 {
  padding-right: 300px; }

.w-g-wrap .prefix-11 {
  padding-left: 330px; }
.w-g-wrap .suffix-11 {
  padding-right: 330px; }

.w-g-wrap .prefix-12 {
  padding-left: 360px; }
.w-g-wrap .suffix-12 {
  padding-right: 360px; }

.w-g-wrap .prefix-13 {
  padding-left: 390px; }
.w-g-wrap .suffix-13 {
  padding-right: 390px; }

.w-g-wrap .prefix-14 {
  padding-left: 420px; }
.w-g-wrap .suffix-14 {
  padding-right: 420px; }

.w-g-wrap .prefix-15 {
  padding-left: 450px; }
.w-g-wrap .suffix-15 {
  padding-right: 450px; }

.w-g-wrap .prefix-16 {
  padding-left: 480px; }
.w-g-wrap .suffix-16 {
  padding-right: 480px; }

.w-g-wrap .prefix-17 {
  padding-left: 510px; }
.w-g-wrap .suffix-17 {
  padding-right: 510px; }

.w-g-wrap .prefix-18 {
  padding-left: 540px; }
.w-g-wrap .suffix-18 {
  padding-right: 540px; }

.w-g-wrap .prefix-19 {
  padding-left: 570px; }
.w-g-wrap .suffix-19 {
  padding-right: 570px; }

.w-g-wrap .prefix-20 {
  padding-left: 600px; }
.w-g-wrap .suffix-20 {
  padding-right: 600px; }

.w-g-wrap .prefix-21 {
  padding-left: 630px; }
.w-g-wrap .suffix-21 {
  padding-right: 630px; }

.w-g-wrap .prefix-22 {
  padding-left: 660px; }
.w-g-wrap .suffix-22 {
  padding-right: 660px; }

.w-g-wrap .prefix-23 {
  padding-left: 690px; }
.w-g-wrap .suffix-23 {
  padding-right: 690px; }

.w-g-wrap .prefix-24 {
  padding-left: 720px; }
.w-g-wrap .suffix-24 {
  padding-right: 720px; }

.w-g-wrap .prefix-25 {
  padding-left: 750px; }
.w-g-wrap .suffix-25 {
  padding-right: 750px; }

.w-g-wrap .prefix-26 {
  padding-left: 780px; }
.w-g-wrap .suffix-26 {
  padding-right: 780px; }

.w-g-wrap .prefix-27 {
  padding-left: 810px; }
.w-g-wrap .suffix-27 {
  padding-right: 810px; }

.w-g-wrap .prefix-28 {
  padding-left: 840px; }
.w-g-wrap .suffix-28 {
  padding-right: 840px; }

.w-g-wrap .prefix-29 {
  padding-left: 870px; }
.w-g-wrap .suffix-29 {
  padding-right: 870px; }

.w-g-wrap .prefix-30 {
  padding-left: 900px; }
.w-g-wrap .suffix-30 {
  padding-right: 900px; }

.w-g-wrap .prefix-31 {
  padding-left: 930px; }
.w-g-wrap .suffix-31 {
  padding-right: 930px; }

.w-g-wrap .prefix-32 {
  padding-left: 960px; }
.w-g-wrap .suffix-32 {
  padding-right: 960px; }

.w-g-wrap .prefix-33 {
  padding-left: 990px; }
.w-g-wrap .suffix-33 {
  padding-right: 990px; }

.w-g-wrap .prefix-34 {
  padding-left: 1020px; }
.w-g-wrap .suffix-34 {
  padding-right: 1020px; }

.w-g-wrap .prefix-35 {
  padding-left: 1050px; }
.w-g-wrap .suffix-35 {
  padding-right: 1050px; }

.w-g-wrap .prefix-36 {
  padding-left: 1080px; }
.w-g-wrap .suffix-36 {
  padding-right: 1080px; }

.w-g-wrap .prefix-37 {
  padding-left: 1110px; }
.w-g-wrap .suffix-37 {
  padding-right: 1110px; }

.w-g-wrap .prefix-38 {
  padding-left: 1140px; }
.w-g-wrap .suffix-38 {
  padding-right: 1140px; }

.w-g-wrap .prefix-39 {
  padding-left: 1170px; }
.w-g-wrap .suffix-39 {
  padding-right: 1170px; }

/*# sourceMappingURL=grid.css.map */
