// 描述：定义页面元素通用类

/* base */

// 布局通用类 --------------------------------------------------
// 定位
.pr { position:relative; }
.pa { position:absolute; }
// 浮动
.fl { float:left;display:inline; }
.fr { float:right;display:inline; }
.cl { clear:left; }
.cr { clear:right; }
.cb { clear:both; }
.bc { margin-left:0;margin-right:0; }
// 清除浮动
.clear {
  height:0;
  clear:both;
  font-size:0;
  overflow:hidden;
  visibility:hidden;
}
.clearfix {
  *zoom: 1; // IE6 IE7
  &:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:".";
    clear:both;
    height:0;
  }
}
// 对齐
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.vat { vertical-align:top; }
.vam { vertical-align:middle; }
.vab { vertical-align:bottom; }
// 显示
.hidden { display:none; }
.vs { visibility:visible; }
.vh { visibility:hidden; }
.zoom { zoom:1; }

// 尺寸大小类 --------------------------------------------------
// 宽度
@for $i from 1 through 9 {
  .w#{$i}0 { width: $i*10px; }
}
@for $i from 1 through 10 {
  .w#{$i}00 { width: $i*100px; }
}
@for $i from 21 through 39 {
  .w#{$i}0 { width: $i*10px; }
}
// 高度
$height: (50, 80, 100, 200);
@each $class in $height {
  .h#{$class} {
    height: $class+px;
  }
}
@for $i from 3 through 8 {
  .minH#{$i}00 { min-height:$i*100px; _height:$i*100px; }
}
.wone { width: 100%; }
.hone { height:100%; }
// 空白
.blank { display:block;overflow:hidden;clear:both; }
.blank3 { @extend .blank; height:3px; }
.blank5 { @extend .blank; height:5px; }
.blank6 { @extend .blank; height:6px; }
.blank9 { @extend .blank; height:9px; }
.blank10 { @extend .blank; height:10px; }
.blank15 { @extend .blank; height:15px; }
.blank20 { @extend .blank; height:20px; }
.blank30 { @extend .blank; height:30px; }
// margin
$margin: (5, 10, 15, 20, 30, 50, 100);
@each $value in $margin {
  .m#{$value} {
    margin: $value+px;
  }
  .mt#{$value} {
    margin-top: $value+px;
  }
  .mb#{$value} {
    margin-bottom: $value+px;
  }
  .mtb#{$value} {
    margin-top: $value+px;
    margin-bottom: $value+px;
  }
  .ml#{$value} {
    margin-left: $value+px;
  }
  .mr#{$value} {
    margin-right: $value+px;
  }
  .mlr#{$value} {
    margin-left: $value+px;
    margin-right: $value+px;
  }
}
// padding
$margin: (5, 10, 15, 20, 30, 50, 100);
@each $value in $margin {
  .p#{$value} {
    padding: $value+px;
  }
  .pt#{$value} {
    padding-top: $value+px;
  }
  .pb#{$value} {
    padding-bottom: $value+px;
  }
  .ptb#{$value} {
    padding-top: $value+px;
    padding-bottom: $value+px;
  }
  .pl#{$value} {
    padding-left: $value+px;
  }
  .pr#{$value} {
    padding-right: $value+px;
  }
  .plr#{$value} {
    padding-left: $value+px;
    padding-right: $value+px;
  }
}

// 字符文本类 --------------------------------------------------
$font-size: (10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30);
@each $value in $font-size {
  .fs#{$value} {
    font-size: $value+px;
  }
}
$font-weight: (400:400, 700:700, n:normal, b:bold);
@each $class, $value in $font-weight {
  .fw#{$class} {
    font-weight: $value;
  }
}
$line-height: (18:18px, 20:20px, 22:22px, 24:24px, 26:26px, 100:100%, 150:150%, 180:180%, 200:200%);
@each $class, $value in $line-height {
  .lh#{$class} {
    line-height: $value;
  }
}
.ti2 { text-indent:2em; }
.tdu { text-decoration:underline; }
.tdn { text-decoration:none; }
.wb { @include word-break(); }

// 颜色类 --------------------------------------------------
.highlight {
  color:#c00;
  &:link, &:visited,
  &:hover, &:active, &:focus {
    color:#c00;
  }
  a:link, a:visited,
  a:hover, a:active, a:focus {
    color:#c00;
  }
}
$color: (
        alert:  $color-alert,
        black:  $color-black,
        white:  $color-white,
        gray:   $color-gray,
        red:    $color-red,
        orange: $color-orange,
        yellow: $color-yellow,
        green:  $color-green,
        blue:   $color-blue,
        purple: $color-purple,
);
@each $class, $value in $color {
  .#{$class} {
    color: $value !important;
  }
}
