// 描述：项目自定义全局样式

// project base style
body {
  font:$base-font-size $base-font-family;
  line-height:$base-line-height;
  background:$base-back-color;
  color:$base-font-color;
}
a {
  &:link, &visited {
    color:$base-font-color;
    text-decoration:none;
  }
  &:hover, &:active, &:focus {
    color:$base-link-color;
    text-decoration:underline;
  }
}