// 描述：栅格系统（grid system）
// 1000px（s-g-wrap）&& 1200px（w-g-wrap） 两种宽度可选

.s-g-wrap {
  width: 1000px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.w-g-wrap {
  width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.pull, .push {
  position: relative;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

// 1000px grid system 50 columns ~ margin left: 5px ~ margin right: 5px
@for $i from 1 through 50 {
  .grid-#{$i} {
    @extend .grid;
    .s-g-wrap & {
      width: ((2*$i)-1)*10+px;
    }
  }
}
@for $i from 1 through 49 {
  .push-#{$i} {
    @extend .push;
    .s-g-wrap & {
      left: (2*$i)*10+px;
    }
  }
}
@for $i from 1 through 49 {
  .pull-#{$i} {
    @extend .pull;
    .s-g-wrap & {
      left: -(2*$i)*10+px;
    }
  }
}
@for $i from 1 through 49 {
  .s-g-wrap{
    .prefix-#{$i} {
      padding-left: (2*$i)*10+px;
    }
    .suffix-#{$i} {
      padding-right: (2*$i)*10+px;
    }
  }
}

// 1200px grid system 40 columns ~ margin left: 5px ~ margin right: 5px
@for $i from 1 through 40 {
  .w-g-wrap {
    .grid-#{$i} {
      width: ((3*$i)-1)*10+px;
    }
  }
}
@for $i from 1 through 39 {
  .w-g-wrap {
    .push-#{$i} {
      left: (3*$i)*10+px;
    }
  }
}
@for $i from 1 through 39 {
  .w-g-wrap {
    .pull-#{$i} {
      left: -(3*$i)*10+px;
    }
  }
}
@for $i from 1 through 39 {
  .w-g-wrap{
    .prefix-#{$i} {
      padding-left: (3*$i)*10+px;
    }
    .suffix-#{$i} {
      padding-right: (3*$i)*10+px;
    }
  }
}