doctype html
html
    head
        meta(charset="utf-8")
        title #{name}-test
        meta(name="keywords", content= keywords)
        meta(name="description", content= description)
        link(rel="icon", href= src.icon)
        each style in src.css
            link(rel="stylesheet", href= src.dist + style)
    body
        //引入 require.js 文件，设置 data-main 属性，以便 require.js 加载程序主入口文件 main.js
        script(src= src.script.requirejs, data-main= src.dist + src.script.main)